/* montserrat-regular - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local(""),
		url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/raleway-v19-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-600 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/raleway-v19-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*Variables*/
:root {
	--primary: #FD7E37;
	--font-color: #331100;
	--secondary: #FD9558;
}

/*Layout*/
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 4rem 1.5rem;
}

@media screen and (min-width: 36em) {
	.container {
		max-width: 45.2rem;
	}
}

@media screen and (min-width: 48em) {
	.container {
		max-width: 86.8rem
	}
}

@media screen and (min-width: 62em) {
	.container {
		max-width: 107.6rem;
	}
}

@media screen and (min-width: 75em) {
	.container {
		max-width: 127.6rem;
	}
}

/*Typo*/
body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: var(--font-color);
}

h1,
h2,
.h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 4.8rem;
	font-weight: 700;
}

h3,
.h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.4rem;
	font-weight: 600;
}

p {
	font-size: 2rem;
	max-width: 84rem;
}

/*Composants*/
.default-btn {
	display: inline-block;
	max-width: max-content;
	padding: 1rem 2rem;
	font-size: 2.4rem;
	border: .1rem solid var(--primary);
	border-radius: .4rem;
	font-weight: 500;
	text-align: center;
	background-color: var(--primary);
	color: #fff;
	transition: .3s;
}


.default-btn img {
	display: inline-block;
	margin-left: 1.6rem;
	vertical-align: middle;
	transition: .3s;
}

.default-btn:hover,
.default-btn:focus {
	background-color: #fff;
	color: var(--primary);
}

.default-btn:hover img,
.default-btn:focus img {
	filter: invert(56%) sepia(25%) saturate(2100%) hue-rotate(336deg) brightness(120%) contrast(98%);
	transform: translateX(1.6rem);
}

.card article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 68.7rem;
	overflow: hidden;
	border-radius: .4rem;
	box-shadow: 0 0 4.8rem rgba(0,0,0,.3);
}

.card.course-card {
	max-height: 60.8rem;
}

.card-img {
	height: 26rem;
	object-fit: cover;
	object-position: center;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	padding: 2.4rem 1.6rem;
	overflow-y: hidden;
}

.date {
	color: #663014;
}

.date::before {
	content: url(../img/date.svg);
	vertical-align: middle;
	margin-right: .8rem;
}


.card-link {
	display: block;
	max-width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: none;
	font-size: 2.4rem;
	border-radius: 0 0 .4rem .4rem;
}

.card-link:hover {
	background-color: var(--secondary);
}

.card:focus {
	border: .2rem dotted rgba(0,0,0,.5);
}

.card:hover .card-link,
.card:focus .card-link{
	color: #fff;
}

.card:hover .card-link img,
.card:focus .card-link img {
	filter: none;
	transform: translateX(1.6rem);
}

ul.page-list {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
}

.page-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
	margin-right: 1rem;
	height: 3rem;
	width: 3rem;
	color: var(--primary);
	background-color: transparent;
	border: .1rem solid var(--primary);
	border-radius: .4rem;
	transition: .3s;
}

.page-button:hover,
.page-button:focus {
	background-color: var(--primary);
	color: #fff;
}

label {
	display: block;
	margin-bottom: 2rem;
	font-size: 2rem;
}

input,
textarea {
	display: block;
	width: 100%;
	border: none;
	border-bottom: .1rem solid #707070;
	font-size: 2rem;
	transition: .3s;
}

textarea {
	min-height: 22rem;
}

::placeholder {
	font-style: italic;
	color: #33110080;
}

input:focus,
textarea:focus {
	padding-top: 1rem;
	padding-bottom: 1rem;
	outline: none;
	border-color: var(--primary);
}

/*Section header*/
.section-header {
	grid-column: 1/-1;
	margin-bottom: .8rem;
}

.section-title {
	font-size: 4rem;
	text-align: center;
}

.section-text {
	max-width: 84rem !important;
	margin-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 2.4rem;
	text-indent: .5rem;
}

@media screen and (min-width: 48em) {
	.section-title {
		font-size: 4.8rem;
	}
}

/*Header*/
.main-header {
	position: relative;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	background-color: var(--primary);
	color: #fff;
	text-transform: uppercase;
}

.main-header .container {
	padding-top: 0;
	padding-bottom: 0;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: auto;
	transition: .3s;
}

.header-title:not(.current-page):hover,
.header-title:not(.current-page):focus {
	color: var(--primary);
	background-color: #fff;
}

.menu-btn {
	position: relative;
	margin-top: 1.8rem;
	height: 3.5rem;
	width: 3.5rem;
	background-color: transparent;
	border: none;
	border-top: .3rem solid #fff;
	border-bottom: .3rem solid #fff;
}

.menu-btn::before,
.menu-btn::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: .2rem;
	background-color: #fff;
	transition: .3s;
}

.menu-btn.menu-open {
	border: none;
}

.menu-open::after {
	transform: rotate(45deg);
	transition: .3s;
}

.menu-open::before {
	transform: rotate(-45deg);
	transition: .3s;
}

.menu-list {
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	right: 0;
	background-color: var(--primary);
	font-size: 2rem;
	font-weight: 600;
	transform: translateY(-100%);
	transition: .3s;
}

[hidden] {
	display: block;
	visibility: hidden;
}

.menu-list:not([hidden]) {
	visibility: visible;
	transform: translateY(0);
}

.menu-link {
	display: block;
	padding: 1rem 2rem;
	text-align: center;
	transition: .3s;
}

.menu-link:hover,
.menu-link:focus,
.menu-item .current-page {
	background-color: #fff;
	color: var(--primary);
}


@media screen and (min-width: 75em) {
	.menu-btn {
		display: none;
	}

	.menu-list {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		transform: translateY(0);
	}

	[hidden] {
		visibility: visible;
	}
}

/*Hero*/
.hero {
	position: relative;
	background-image: url(../img/home-hero.jpg);
	background-size: cover;
	background-position: center;
}

@media (min-resolution: 144dpi) {
    .hero {
        background-image: url(../img/home-hero.jpg@2x.jpg);
    }
}

.hero .container {
	padding-top: 0;
	padding-bottom: 0;
}

.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	padding: 2.5rem;
	background-color: rgba(0,0,0,.8);
}

.hero-title {
	margin-bottom: 3rem;
	max-width: max-content;
	font-size: 4.8rem;
	color: #fff;
	text-shadow: .2rem .2rem .6rem rgba(0,0,0,.8);
	word-wrap: break-word;
}

.hero-link {
	margin-left: auto;
	max-width: max-content;
	padding: 2rem 3rem;
	font-size: 2.8rem;
	font-weight: 600;
	background-color: var(--primary);
	color: #fff;
	transition: .3s;
}

.hero-link:hover,
.hero-link:focus {
	background-color: #fff;
	color: var(--primary);
}

@media screen and (min-width: 48em) {

	.hero {
		position: static;
		min-height: 71.1rem;
	}

	.hero .container {
		position: relative;
		min-height: 71.1rem;
	}

	.hero-content {
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;
		max-width: 95.6rem;
		left: auto;
		bottom: 12rem;
		height: auto;
	}

	.hero-title {
		font-size: 7.2rem;
	}

	.hero-link {
		font-size: 4rem;
	}
}

/*News*/
.news .container {
	display: grid;
	row-gap: 3.2rem;
}


@media screen and (min-width: 48em) {
	.news .container {
		grid-template-columns: repeat(2, 1fr);
		gap: 3.2rem;
	}

	.news-title {
		grid-column: 1/-1;
	}
}

@media screen and (min-width: 75em) {
	.news .container {
		grid-template-columns: repeat(3, 1fr);
	}
}

/*Students*/
.students-home {
	background-color: var(--primary);
	color: #fff;
}

.students .section-title {
	margin-bottom: 4.3rem;
}

.students-list {
	display: grid;
	row-gap: 4rem;
}

.students-item a {
	display: block;
}

.students-item a:hover span,
.students-item a:focus span {
	color: var(--font-color);
}

.students-item figure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.student-picture {
	margin-bottom: 2rem;
	max-height: 21.8rem;
	max-width: 21.8rem;
	border-radius: 50%;
	clip-path: 50%;
}

.student-name {
	font-size: 2.4rem;
	font-weight: 500;
}

.student-link {
	display: block;
	text-align: center;
	text-decoration: underline;
	color: var(--primary);
	transition: .3s;
}

.students-home .student-link {
	color: #fff;
}

@media screen and (min-width: 48em) {
	.students-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 75em) {
	.students-list {
		grid-template-columns: repeat(4, 1fr);
	}
}

/*Course*/
.course .container {
	display: grid;
	row-gap: 3.2rem;
}

.card.course-card {
	max-height: 60.8rem;
}

@media screen and (min-width: 48em) {
	.course .container {
		grid-template-columns: repeat(2, 1fr);
		gap: 3.2rem;
	}

	.course-title {
		grid-column: 1/-1;
	}
}

/*Contact*/
.contact .section-title {
	margin-bottom: 5rem;
}

.contact form {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 4.4rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 105.8rem;
}

.contact .default-btn {
	grid-column: 1/-1;
	margin-left: auto;
}

@media screen and (min-width: 48rem) {
	.contact .section-title {
		margin-bottom: 14rem;
	}

	.contact form {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 3.2rem;
	}

	.contact .form-group:last-of-type {
		grid-column: 1/-1;
	}
}

/*Single Student*/
.student-portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4rem;
	max-width: 100%;
	border-radius: 50%;
}

.single-student .h2 {
	text-align: center;
	margin-bottom: 4rem;
}

.description-list {
	display: grid;
	row-gap: 4rem;
	text-align: center;
}

.description-item:last-child {
	grid-column: 1/-1;
	text-align: left;
}

.description-title {
	margin-bottom: 2rem;
}

.description-text {
	font-size: 2rem;
}

.description-item:last-child .description-text {
	font-size: 2.4rem;
	max-width: 100%;
}


@media screen and (min-width: 48em) {
	.description-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 63em) {
	.description-list {
		grid-template-columns: repeat(3, 1fr);
		text-align: left;
	}
}

@media screen and (min-width: 75em) {
	.description-list {
		grid-template-columns: repeat(4, 1fr);
	}
}


/*Legal*/

.legal-text {
	margin-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	text-indent: .5rem;
}

/*Footer*/
.main-footer {
	padding-top: 3.8rem;
	padding-bottom: 3.8rem;
	background-color: var(--primary);
	color: #fff;
}

.main-footer .container {
	display: grid;
	grid-template-rows: repeat(3, auto);
	row-gap: 5rem;
}

adress {
	font-size: 2rem;
}

.adress-title {
	font-weight: 500;
}

.adress-link {
	transition: .3s;
}

.adress-link:hover,
.adress-link:focus {
	color: var(--font-color);
}

.legal-nav {
	grid-row: 3/4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.legal-link {
	display: block;
	text-align: center;
	margin-bottom: 1rem;
	transition: .3s;
}

.legal-link:hover,
.legal-link:focus {
	color: var(--font-color);
}

.social-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-link {
	margin-left: 3.25rem;
	margin-right: 3.25rem;
}

.social-link path {
	transition: .3s;
}

.social-link:hover path,
.social-link:focus path {
	fill: var(--font-color);
}

@media screen and (min-width: 48em) {
	.main-footer .container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
	}

	adress {
		grid-row: 1/2;
		grid-column: 1/2;
	}

	.legal-nav {
		flex-direction: row;
		grid-row: 2/3;
		grid-column: 1/-1;
	}

	.legal-link {
		margin: 0 1rem;
	}

	.social-list {
		grid-row: 1/2;
		grid-column: 2/3;
		justify-content: flex-end;
	}
}

@media screen and (min-width: 62em) {
	.main-footer .container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
	}

	adress {
		grid-column: 1/2;
	}

	.legal-nav {
		flex-direction: column;
		grid-row: 1/-1;
		grid-column: 2/3;
	}

	.legal-link {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1rem;
	}

	.social-list {
		grid-column: 3/4;
	}
}

@media screen and (min-width: 75em) {
	.legal-nav {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.legal-link {
		margin: 0 1rem;
	}
}